a {
    color: #000;
}

.main {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background: url(../../../assets/img/background.png);
    background-size: cover;

    .win {
        margin: auto;

        ul {
            display: flex;
            justify-content: space-around;

            .win-list {
                text-align: center;

                .win-list-block {
                    background: linear-gradient(330deg, rgba(255, 255, 255, 0.00) 3.9%, rgba(255, 255, 255, 0.40) 96.1%);
                    border-radius: 15%;
                    padding: 10px 5px;

                    .win-list-block-img {
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                        padding: 10px;
                        padding-bottom: 8px;
                        margin: 0 auto;
                        // height: 130px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }


            }
        }
    }
}

@media (max-width: 1200px),
(min-width: 1200px) {
    .win {
        width: 800px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        ul {
            display: flex;
            justify-content: space-around;


            .win-list-block {
                width: 120px;
                // height: 200px;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .win {
        width: 650px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        ul {
            display: flex;
            justify-content: space-around;

            .win-list-block {
                width: 115px;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .win {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .win-list-block {
                width: 85px;
                
                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 488px) {
    .win {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .win-list-block {
                width: 110px;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}