<div class="main">
    <div class="win">
        <div class="win-title">
            <h1>Регистрация</h1>
        </div>
        <form #registerForm="ngForm" novalidate class="win-block-inpt">
            <div class="win-block-inpt-list">
                <ul>
                    <li>
                        <h3>Логинце</h3>
                            <input class="win-block_inpt-list-inpt_field" type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" placeholder="Тяштьк логинце" (keydown.enter)="onEnter()">
                        <div class="lwin-block-inpt-list-line"></div>
                    </li>
                    <li>
                        <h3>Почтаце</h3>
                            <input class="win-block_inpt-list-inpt_field" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Тяштьк почтацень" (keydown.enter)="onEnter()">
                        <div class="lwin-block-inpt-list-line"></div>
                    </li>
                    <li>
                        <h3>Парольце</h3>
                            <input class="win-block_inpt-list-inpt_field" type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Тяштьк парольцень" (keydown.enter)="onEnter()">
                        <div class="lwin-block-inpt-list-line"></div>
                    </li>
                    <li>
                        <h3>Та весть парольцень</h3>
                            <input class="win-block_inpt-list-inpt_field" type="text"[(ngModel)]="passwordTrue" [ngModelOptions]="{standalone: true}" placeholder="тяштьк парольцень" (keydown.enter)="onEnter()">
                        <div class="lwin-block-inpt-list-line"></div>
                    </li>
                </ul>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>   <!--  Сообщение об ошибке -->
        </form>
        <div class="win-block_link">
            <a  class="link link-reg" (click)="postRegister()">
                <span>Тиемс регистрация</span>
            </a>
            <a href="../SignIn" class="link link-sign">
                <span>Мрдамс</span>
            </a>
        </div>
    </div>
</div>